.score__table {
    width: 100%;
    border-spacing: 0;
    text-align: left;
}

.score__table_row {
    padding: 0;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-spacing: 0;
}

.score__table_row_cell {
    border-top: 1px solid #C0C0C0;
    padding: 7px 0;
}

.score__searchbar {
    width: auto;
    padding: 4px 5px;
    margin: 10px 10px 20px;
}